*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
   --black:#222831;
   --liteblack: #393E46;
   --skyblue:#00ADB5;
   --litegray:#EEEEEE;
}

.carr{
    display: flex;
     justify-content: space-around;
    width: 100vw;
    height: 100vh; 

      
 }
 .left-div{
    display: flex;
    justify-content: center;
     align-items: center;
    flex-direction: column;
    /* border-right:solid var(--black); */
    background: var(--skyblue);
    padding:90px;
    width: 50%;
    

 }
 

 .right-div{
    display: flex;
    justify-content: center;
     align-items: center;
     /* border-left:solid var(--skyblue); */
      background-color: chartreuse;
      width: 50%;
 }
 
