*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
   --black:#222831;
   --liteblack: #393E46;
   --skyblue:#00ADB5;
   --litegray:#EEEEEE;
}

.carr{
    display: flex;
     justify-content: space-around;
    width: 100vw;
    height: 100vh; 
 }

 #bms{
  font-weight: bolder;
  font-size: larger;
  color: var(--litegray);
 }

 .left-div{
   display: flex;
   flex-direction: column;
     /* border-right:solid var(--black); */
    background: var(--liteblack);
    /* padding:90px; */
    width: 50%;
   
 }
 
 .main-form{
   display: flex;
   flex-direction: column;
   align-items: center;
   color: var(--litegray);
   /* margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 10px; */
   margin-top: 25%;
 }

 .welcome-head{
   color: var(--litegray);
   
 }



 #login-btn{
      margin: 10px 0;
     background: var(--black);
 }

 #google-btn{
      margin-bottom: 10px;
      max-width: 250px;
      max-height: "80px";
      min-width: "30px";
      min-height: "30px"; 
      background: var(--black);           
 }

.forgot-link{
   align-items: start;
}
 .right-div{
    display: flex;
    justify-content: center;
     align-items: center;
     /* border-left:solid var(--skyblue); */
      background-color:var(--black);
      width: 50%;
 }
 
